Flask==2.3.3
requests==2.31.0
numpy==1.26.2
pandas==2.1.4
plotly==5.18.0
chess==1.10.0
python-lichess==0.10 # Client for lichess.org API
mock==5.1.0
pylint==3.0.3
pytest==7.0.1
pytest-dependency==0.6.0

debugpy # Required for debugging.
